/* GENERALES */

*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 16px;
    line-height: 2;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(243, 193, 147); 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: 'Outfit', sans-serif;
    line-height: 1.2;
    padding: 2rem;
}
h1{
    font-size: 4.8rem;
    color: white;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
p{
    font-size: 2rem;
}

img{
    margin: 2rem;
    max-width: 100%;
}

.centrar-texto{
    text-align: center;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

/* HEADER */

.inicio{
    background-image: url(../img/inicio.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.barra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.nav ul li{
    display: block;
}

 .nav ul li a{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: white;
} 
 
.subtitulo{
    color: white;
}

/* MAIN INICIO */

.article{
    padding: 2rem;
    border: 1rem solid wheat;
}

/* FOOTER */

.footer{
    background-color: black;
    width: 100%;
    margin-top: 4rem;
}

.footer h2{
    color: white;
}

/* NOSOTROS */

.nosotros{
    background-image: url(../img/nosotros0\(2\).jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenido-nos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* CURSOS */

.cursos{
    background-image: url(../img/cursos.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.orden{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
}

/* CONTACTO */

.contacto{
    background-image: url(../img/contacto.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* PASTELERIA */

.pasteleria{
    background-image: url(../img/pasteleria.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}


.galeria{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 5rem;
}



/* MEDIA QUERIES DE INICIO */

@media (min-width: 950px) {
    .barra{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
    }
    .nav ul li{
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .contenido-inicio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4rem;
    }
    
    .article__primero{
        grid-area: 1 / 1 / 2 / 2;
    }
    .article__segundo{
        grid-area: 1 / 2 / 2 / 3;
    }
    .article__tercero{
        grid-area: 2 / 1 / 3 / 3;
    }   
}

/* MEDIA QUERIS DE NOSOTROS */

@media (min-width: 768px) {
    .contenido-nos{
        grid-template-columns: 1fr 1fr;
    }
}

/* MEDIA QUERIS DE PASTELERIA */

@media (min-width: 500px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .galeria{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* MEDIA QUERIS DE CURSOS */

@media (min-width: 768px) {
    .orden{
        grid-template-columns: 1fr 2fr;
    }
}