@import "generales";
  
.inicio{
    background-image: url(../img/inicio.jpg);
     @include bg;
    @include nav;
}
.article{
    padding: 2rem;
    border: 1rem solid wheat;
    @media (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 4rem;
          .article__primero{
            grid-area: 1 / 1 / 2 / 2;
        }
        .article__segundo{
            grid-area: 1 / 2 / 2 / 3;
        }
        .article__tercero{
            grid-area: 2 / 1 / 3 / 3;
        }
      }     
}
.footer{
    @include footer;
}

