.nosotros{
    background-image: url(../img/nosotros.jpg);
     @include bg;
     @include nav;
}

.imagen{
    border-radius: 1.5rem;
}

.info{
    position: relative;
    right: 1rem;
}

.datos{
    margin-top: 1rem;
    .li{
        list-style: square inside;
        font-size: 2.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.700);
    }
}

.footer{
    @include footer;
}