
$color-fondo: rgb(243, 193, 147);
$font-titulos: 'Outfit', sans-serif;
$font-body: 'Kanit', sans-serif;
$color-texto: white;
$color-decoracion: wheat;
$color-footer: black;
$color-boton: rgb(53, 34, 0);
$color-facebook: rgb(44, 44, 247);
$color-instagram: rgb(240, 23, 106);
$color-twitter: rgb(0, 195, 255);
$color-youtube: rgb(245, 48, 48);